# Secrets
.secrets/
env/*.pem
env/*.key
*.pem
*.key
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/

# DB
*.db
*.db-journal
*.db-wal
*.db-shm

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
